<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="HTTPSWatchAU tracks the HTTPS support of prominent Australian websites.">
    <meta name="viewport" content="width=800">
    <title>HTTPSWatchAU | {% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <ul class="header-nav-list">
        {% for page in meta["listings"] %}
          <li>
          {% if page.shortname is defined and listing is defined and page.shortname == listing.shortname %}
            <span class="header-nav-link-current">{{ page.name }}</span>
          {% else %}
            <a class="header-nav-link" href="{{ page.external if page.external is defined else "/" + page.shortname }}">{{ page.name }}</a>
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      </nav>
    </header>
    <div id="content-wrapper">
      {% block body %}{% endblock %}
      <footer>
        Created by <a href="https://benjamin.pe">Benjamin Peterson</a>. Forked by <a href="http://www.github.com/fukawi2/">Phillip Smith</a>. Maintained by <a href="https://twitter.com/CyberShambles">Ashley Hull</a>. <a href="/about">About page</a> for more information.<br />Last updated <time>{{ update_time }}</time>.
      </footer>
    </div>
  </body>
</html>
